.header-img {
    width: 200px;
    height: 107px;
    margin: 0px auto;
    background: url('images/Bladders-01.png');
    background-size: cover;
  }
  #footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    margin-left: 10px;
    bottom: 0;
    width: 400px; 
    height: 65px;
    background: url('images/Janssen Logo-01.png');
    background-repeat: no-repeat;
}
html {
    background-image: url('images/Game Background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
     overflow: hidden;
     position: relative;
     
  }
  body {
    max-height: 100vh;
    overflow: hidden;
    width: 100%;
    position: fixed;
   
}
#puzzleImg{
    max-height: 80%;
    width: 1000px !important;
    height: 300px !important;
}
/* Parent Container */
.content_img{
    position: relative;
    
   }
   @media (max-width: 480px){
    #puzzleImg{
        width:400px
    } 
   }
   /* Child Text Container */
   .content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #5d0668;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
   .content_img:hover{
    cursor: pointer;
   }
   
   .content_img:hover div{
    visibility: visible;
    opacity: 0.7; 
   }
.position001 {
    position: relative;
   max-height: 80%;
}

.block001 {
    position: absolute;
    top: 100px;
    left: 290px;
}

.block002 {
    position: absolute;
    top: 100px;
    left: 50px;
}

.block003 {
    position: absolute;
    top: 90px;
    left: 340px;
    
}

.button001 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}

.button002 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}

.button003 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 50px;
}
.block021 {
    position: absolute;
    top: 165px;
    left: 260px;
}

.block022 {
    position: absolute;
    top: 240px;
    left: 60px;
}

.block023 {
    position: absolute;
    top: 120px;
    left: 380px;
    
}

.button021 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}

.button022 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 100px;
    height: 100px;
}

.button023 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.block031 {
    position: absolute;
    top: 250px;
    left: 420px;
}

.block032 {
    position: absolute;
    top: 210px;
    left: 170px;
}

.block033 {
    position: absolute;
    top: 105px;
    left: 220px;
    
}

.button031 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 50px;
    height: 50px;
}

.button032 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}

.button033 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block041 {
    position: absolute;
    top: 100px;
    left: 310px;
}

.block042 {
    position: absolute;
    top: 90px;
    left: 100px;
}

.block043 {
    position: absolute;
    top: 165px;
    left: 50px;
    
}
.block044 {
    position: absolute;
    top: 0px;
    left: 160px;
    
}

.button041 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 30px;
    height: 50px;
}

.button042 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button043 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}
.button044 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
}
.block051 {
    position: absolute;
    top: 40px;
    left: 240px;
}

.block052 {
    position: absolute;
    top: 100px;
    left: 100px;
}

.block053 {
    position: absolute;
    top: 155px;
    left: 130px;
    
}
.block054 {
    position: absolute;
    top: 265px;
    left: 100px;
    
}

.button051 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button052 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button053 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button054 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block061 {
    position: absolute;
    top: 40px;
    left: 400px;
}

.block062 {
    position: absolute;
    top: 70px;
    left: 50px;
}

.block063 {
    position: absolute;
    top: 250px;
    left: 360px;
    
}
.block064 {
    position: absolute;
    top: 90px;
    left: 190px;
    
}

.button061 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button062 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button063 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button064 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block071 {
    position: absolute;
    top: 120px;
    left: 345px;
}

.block072 {
    position: absolute;
    top: 110px;
    left: 205px;
}

.block073 {
    position: absolute;
    top: 255px;
    left: 170px;
    
}
.block074 {
    position: absolute;
    top: 120px;
    left: 20px;
    
}

.button071 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button072 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button073 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button074 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block081 {
    position: absolute;
    top: 170px;
    left: 375px;
}

.block082 {
    position: absolute;
    top: 220px;
    left: 240px;
}

.block083 {
    position: absolute;
    top: 250px;
    left: 380px;
    
}
.block084 {
    position: absolute;
    top: 175px;
    left: 135px;
    
}

.button081 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button082 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button083 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button084 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block091 {
    position: absolute;
    top: 130px;
    left: 305px;
}

.block092 {
    position: absolute;
    top: 140px;
    left: 240px;
}

.block093 {
    position: absolute;
    top: 40px;
    left: 360px;
    
}
.block094 {
    position: absolute;
    top: 180px;
    left: 80px;
    
}

.button091 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button092 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button093 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button094 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.block0101 {
    position: absolute;
    top: 220px;
    left: 20px;
}

.block0102 {
    position: absolute;
    top: 145px;
    left: 305px;
}

.block0103 {
    position: absolute;
    top: 225px;
    left: 400px;
    
}
.block0104 {
    position: absolute;
    top: 240px;
    left: 105px;
    
}
.block0105 {
    position: absolute;
    top: 250px;
    left: 140px;
    
}
.block0106 {
    position: absolute;
    top: 195px;
    left: 115px;
    
}

.button0101 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 30px;
}

.button0102 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 60px;
}

.button0103 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
}
.button0104 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.button0105 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.button0106 {
    background-color: transparent;
    border: 1px solid transparent;
    width: 40px;
    height: 40px;
}
.hide001 {
    background-color: transparent;
    border: 1px transparent;
    
}

#mark001 {
    color: #f3a90b !important;
    font-size: 180%;
    width: 50px;
}
strong{
    color: #f3a90b !important;  
}

.blue001 {
    background-color: #5d0668;
    border: none;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    
    border-radius: 9px;
    cursor: pointer;
    width: 178px;
}
#message002,#message001{
    margin: 0px auto;
    width: fit-content; 
}
#hintbtn {
    background-color: #f3a90b;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin-right: 225px;
    margin-bottom: 20px;
    font-size: 20px;
    float: right;
    
    border-radius: 9px;
    cursor: pointer;
    width: 100px;
}
.text ,#message001{
    color: #1285ca;
    font-weight: bold;
    font-size: 20px;
}
#finalmodal{
    display: none;  
}
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    padding: 30px;
    background-color: #5d0668;
    border-radius: 20px;
    width: fit-content !important;
    height: fit-content;
    color: #fff;
  }

#wintitle{
    color: #fff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.wintxt{
    color: #fff;
    font-size: 15px;
}
#name{
    margin:0px auto; 
    border-radius: 5px;
    font-size: 20px;
    border: transparent;
}
#winbtn{
    
    background-color: rgb(34, 41, 41);
    border-radius: 5px;
    font-size: 20px;
    margin:0px auto;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}
  
  /* The Close Button */
  .close , .closefinal{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    
    
  }
  
  .close:hover,
  .close:focus ,
  .closefinal:hover,
  .closefinal:focus 
  {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #time{
    justify-content: center;
    align-items: center; 
    margin: 0 auto;
    width: fit-content;
    
}
#clock{
    font-size: 20px;
}
.clck{
    font-size: 20px;
}
#player , #ten001 ,#score002{
    margin-right: 20px;
    
}
table td, th{
   color: #fff !important;  
   width: 150px;
  }
